@charset "UTF-8";
.board-template{
	margin:50px auto 80px auto;
}
.board-box{
	
}

/* boarderList */

.flex-container{
    margin:12px 0;
}
.board-menu{
	font-size:25px;
    margin-bottom:20px;
}
.board-hr{
	background-color: #343b6a;
    height: 2.7px;
    border:none;
}
.search-box{
	background-color: #f7f7f7;
    border: none;
    text-align: center;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}
.flex-form{
	display: flex;
}
.flex-form .search-select{
	width: 150px;
    height: 33px;
    border: 1px solid #343b6a;
    margin-right: 10px;
    padding: 0 10px;
    border-radius: 3px;
}
.flex-form .search-input{
	width: 450px;
    height: 33px;
    border: 1px solid #343b6a;
    margin-right: 10px;
    border-radius: 3px;
    padding: 0 10px;
}
.flex-form .search-submit{
	width: 80px;
    height: 33px;
    background-color: #343b6a;
    color: #fff;
    border-radius: 3px;
    border: 1px solid #343b6a;
}
.board-tb thead{
	height: 30px;
    border-top: 2px solid #2a6cf5;
}
.board-tb thead tr th{
	vertical-align: middle;
	font-weight: 500;
}
.board-tb tbody tr td{
	vertical-align: middle;
	padding: 3px 10px;
}
.board-tb tr {
	height: 45px;
}
.board-tb tbody tr:nth-child(1) {
	border-top: 1.5px solid #666;
}
.board-tb tbody:last-child {
	border-bottom: 1.5px solid #666; 
}
.pagenation {
	text-align: center;
    margin-top: 70px;
    font-size: 15px;
}

/* boardDetail */

.board-lable{
	width:100px;
    font-size:17px;
    vertical-align:middle;
    font-weight:500;
}
.board-input{
	font-size:17px;
}
.board-content{
	margin: 50px 0 170px 0;
	line-height: 23px;
}
.btn-box{
	text-align:right;
	text-align: right;
    margin: 70px auto 0 auto;
}
.btn-box .delete-btn{
	color: red;
    border: 2px solid red;
    width: 150px;
    border-radius: 10px;
    margin: 3px;
    padding: 5px 30px;
}
.btn-box .list_btn{
	color: #000;
    border: 2px solid #000;
    width: 150px;
    border-radius: 10px;
    margin: 3px;
    padding: 5px 30px;
}
.btn-box .modify-btn{
	color:#fff;
	background-color:#2a6cf5;
	border: 2px solid #2a6cf5;
	width: 150px;
    border-radius: 10px;
    margin: 3px;
    padding: 5px 30px;
}
.btn-box .confirm-btn{
	color:#fff;
	background-color:#2a6cf5;
	border: 2px solid #2a6cf5;
	width: 150px;
    border-radius: 10px;
    margin: 3px;
    padding: 5px 30px;
}
