@charset "UTF-8";

/*
    기본 화면 설정을 위한 디자인 파일
*/

main {
    width:1000px;
    margin:auto;
    padding-top: 60px;
}
header {
    min-height: 120px;
    text-align:center;
}
#logo{
	display: inline-block;
	margin: 20px 0;
    font-size: 3em;
    font-weight: 600;
}
#gnb {
	display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343b6a;
    padding: 0px 40px;
    align-content: center;
}
#gnb li{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gnb li a {
	font-weight: 500;
    color: #fff;
    font-size: 17px;
    height: 47px;
    width: 100%;
    line-height: 47px;
}

.gnb-right{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gnb-right a {
	font-size:13px !important;
	width:auto;
}
.partition{
    line-height: 46px;
    color: #fff;
    font-size: 12px;
	margin: 0 10px;
}

.wrap{
	padding: 40px 0 130px 0;
}

.footer{
    min-height: 120px;
    padding: 20px;
    border-top: 2px solid #eee;
	color: #777;
    font-size: 14px;
}
.footer p:nth-child(2){
	margin: 20px 0;
    line-height: 18px;
}
.footer-copyright{
	font-size:11px;
}
