@charset "UTF-8";
 .image-c-area img{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 250px !important;
	height: 250px !important;
}
 .hide{
	display:none}
 .abc{
	margin-left:100px !important;
}
.reply-btn{
	width: 70px;
	height: 110px;
}
.reply-textarea{
	width: 100%;
    height: 70px;
    resize: none !important;
    overflow: auto;
    font-size: 14px
}
.board-tb.w800 td{
	padding:10px;
}
.board-tb.w800 td span{
	font-size:10px;
}
/*matchingInsert*/
.matching-input{
	width: 100%;
    height: 40px;
    padding: 0 10px;
    font-size: 15px;
}